.buttons {
  margin: 20px 0;
}

.auth-card {
  max-width: 600px;
  width: 600px;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card-title {
    text-transform: uppercase;
  }
}

.register {
  margin-left: 30px;
  display:inline-block;
}
