<div class="container">
  <div class="row main-heading">
    <div class="col-sm-12"><h3>{{ 'business.profile.title' | translate }}</h3></div>
  </div>
  <form [formGroup]="form">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <mat-card>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="username"
                     matInput
                     placeholder="Name">
              <mat-error *ngIf="form.get('username').hasError('required')">
                required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="businessName"
                     matInput
                     placeholder="Business Name">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="street"
                     matInput
                     placeholder="Street">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="postalCode"
                     matInput
                     placeholder="Postal Code">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="city"
                     matInput
                     placeholder="City">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="country"
                     matInput
                     placeholder="Country">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="landLinePhone"
                     matInput
                     placeholder="Land line">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="mobilePhone"
                     matInput
                     placeholder="Mobile Phone">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="hourlyRate"
                     matInput
                     placeholder="Hourly Rate">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field [ngClass]="routeAnimationsElements" class="col">
              <input formControlName="vat"
                     matInput
                     placeholder="VAT">
            </mat-form-field>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>

