<h2 mat-dialog-title>{{title | translate}}</h2>
<mat-dialog-content class="mat-typography" [formGroup]="form">
  <mat-form-field>
    <input matInput
           placeholder="Description"
           formControlName="description">
    <mat-error *ngIf="form.get('description').hasError('required')">
      required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select customer" formControlName="customer" [compareWith]="compareObjects">
      <mat-option>
        <ngx-mat-select-search [formControl]="filterCtrl" [searching]="searching"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
        {{customer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput
              placeholder="Quote summary"
              formControlName="quoteSummary"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button class="basic" (click)="close()">{{ "business.btn.cancel" | translate}}</button>
  <button mat-flat-button color="primary"(click)="save()">{{ "business.btn.save" | translate}}</button>
</mat-dialog-actions>
