@import '@angular/material/theming';

.mat-form-field {
  display: block;
}


.entry {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.54)
}

.todos-filter-info {
  float: right;
  font-weight: normal;
}

.todos-filter {
  float: right;
  position: relative;
  left: 10px;
  top: -5px;
  margin-left: -10px;
}

.todo {
  //display: flex;
  margin-bottom: 10px;

  .todo-done {
    margin: 0 20px 0 0;
  }

  .todo-label {
    position: relative;
    top: 2px;
    cursor: pointer;

    &.todo-label-done {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}

.desc {
    width: 100%;
    transition: all 0.5s;
    display: flex;
    padding: 10px 10px 10px 20px;

  textarea {
    min-width: 400px;
  }
}

.quote {
  button {
    padding: 0;
    min-width: 36px;
    height: 36px;

    mat-icon {
      position: relative;
      top: 2px;
      font-size: 18px;
    }
    fa-icon {
      position: relative;
      font-size: 18px;
    }
  }
  .delete-quote {
    margin-left: 10px;
  }
}

mat-dialog-content {
  height: 300px;
}
