<h2 mat-dialog-title>{{title | translate}} <i>{{name}}</i></h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput
           placeholder="description"
           formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="unit"
           formControlName="unit">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="unitPrice"
           formControlName="unitPrice">
  </mat-form-field>

  <mat-form-field>
    <input matInput
              placeholder="quantity"
              formControlName="qty">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button class="basic" (click)="close()">{{ "business.btn.cancel" | translate}}</button>
  <button mat-flat-button color="primary"(click)="save()">{{ "business.btn.save" | translate}}</button>
</mat-dialog-actions>

