<div class="main-div">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Business X</mat-card-title>
      <mat-card-subtitle>Register</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'business.register.email.placeholder' | translate }}"
                   formControlName="email" type="email">
            <mat-error *ngIf="form.get('email').hasError('required')">
              {{ 'business.register.email.error1' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
              {{ 'business.register.email.error2' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'business.register.password.placeholder' | translate }}"
                   formControlName="password" type="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
              {{ 'business.register.password.error' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('pattern')">
              {{ 'business.register.password.pattern.error' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">
              {{ 'business.register.password.length.error' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password').hasError('maxlength')">
              {{ 'business.register.password.length.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'business.register.confirmPassword.placeholder' | translate }}"
                   formControlName="confirmPassword" type="password">
            <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
              {{ 'business.register.password.error' | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('confirmPassword').hasError('matching')">
              {{ 'business.register.password.mismatch' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row d-flex pad">
          <div class="buttons">
            <button mat-raised-button color="primary" type="submit"
                    [ngClass]="routeAnimationsElements">
              {{ 'business.register.btn' | translate }}
            </button>
            <a class="login" [routerLink]="['/login']">Login</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
