@import '../../../styles-variables';

.bs-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.orders-table {
  min-height: 360px;
  margin-top: 10px;
  overflow-y: auto;

  .gray {
    background-color: #f5f5f5
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.order-items {
  padding-left: 48px;
  margin: 20px 40px;

  .orderItems-table {
    margin-top: 10px;
  }
}

.mat-column-orderItem {
  width: 15px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.gray { background-color: #f5f5f5 }

