<div class="container">
  <button mat-raised-button color="primary" (click)="add()">{{ "business.quotes.btn.add" | translate }}</button>
  <br/>
  <br/>
  <mat-form-field [ngClass]="routeAnimationsElements">
    <input matInput placeholder="{{ 'business.quotes.search' | translate}}" #search>
  </mat-form-field>

  <div class="bs-container mat-elevation-z8">

    <mat-table class="quotes-table" [dataSource]="dataSource"
               matSort matSortActive="createdAt" matSortDirection="asc"
               matSortDisableClear [ngClass]="routeAnimationsElements">

      <ng-container matColumnDef="quoteItem">
        <mat-header-cell *matHeaderCellDef fxFlex="80px"></mat-header-cell>
        <mat-cell fxFlex="80px" class="description-cell" *matCellDef="let elt">
          <fa-icon icon="{{expandedElement === elt? 'angle-up': 'angle-down'}}"
                   (click)="toggleRow(elt)" size="2x"
                   matTooltip="show or hide quote items..."
                   [matTooltipShowDelay]="showDelay.value"
                   [matTooltipHideDelay]="hideDelay.value"></fa-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quoteNumber">

        <mat-header-cell *matHeaderCellDef>{{'business.grid.head.quote' | translate}}</mat-header-cell>

        <mat-cell class="description-cell"
                  *matCellDef="let quote">
          {{quote.model.description}}<br><br>Quote Number: {{quote.model.quoteNumber}}
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="customer">

        <mat-header-cell *matHeaderCellDef>{{'business.grid.head.customer' | translate}}</mat-header-cell>

        <mat-cell class="description-cell" *matCellDef="let quote">
          {{quote.model.customer.name}}
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="createdAt">

        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'business.grid.head.created' | translate}}</mat-header-cell>

        <mat-cell class="description-cell" *matCellDef="let quote">
          {{quote.model.createdAt | date:'medium'}}
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let elt">
          <button mat-button class="btn-link" aria-label="edit" (click)="edit(elt)">
            <fa-icon icon="edit"></fa-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let elt">
          <button mat-button class="btn-link" aria-label="delete" (click)="deleteQuote(elt)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let d">
          <div class="container quote-items">

            <div layout="row" layout-align="space-between center">
              <div>
                <button mat-raised-button (click)="editQuoteItem(d.detail, null)">{{ "business.quotes.btn.quoteItems" | translate }}</button>
              </div>
            </div>

            <mat-table class="quoteItems-table" [dataSource]="d.detail.items"
                       [ngClass]="routeAnimationsElements">
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>description</mat-header-cell>
                <mat-cell class="description-cell"
                          *matCellDef="let quoteItem">{{quoteItem.description}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="unit">
                <mat-header-cell *matHeaderCellDef>unit /hrs</mat-header-cell>
                <mat-cell class="description-cell"
                          *matCellDef="let quoteItem">{{quoteItem.unit}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="qty">
                <mat-header-cell *matHeaderCellDef>qty</mat-header-cell>
                <mat-cell class="description-cell"
                          *matCellDef="let quoteItem">{{quoteItem.qty}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let quoteItem">
                  <button mat-button class="btn-link" aria-label="edit" (click)="editQuoteItem(d.detail, quoteItem)">
                    <fa-icon icon="edit"></fa-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let quoteItem">
                  <button mat-button class="btn-link" aria-label="delete" (click)="deleteQuoteItem(quoteItem, d.d.detail)">
                    <fa-icon icon="trash"></fa-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedQuoteItemColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedQuoteItemColumns">
              </mat-row>
            </mat-table>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

      <mat-row *matRowDef="
          let row;
          columns: displayedColumns;"
               matRipple
               class="element-row"
               [class.expanded]="expandedElement == row">
      </mat-row>

      <mat-row *matRowDef="let row; let odd = odd; columns: ['expandedDetail']; when: isExpansionDetailRow"
               [@detailExpand]="row.detail == expandedElement ? 'expanded' : 'collapsed'"
               style="overflow: hidden"
               [ngClass]="{gray: odd}">
      </mat-row>

    </mat-table>

    <mat-paginator *ngIf="dataSource.page$ | async as page"
                   [length]="page.totalElements"
                   [pageSize]="page.size"
                   [pageSizeOptions]="[3, 5, 10]"
                   (page)="dataSource.fetch($event.pageIndex, $event.pageSize)"
                   [ngClass]="routeAnimationsElements">
    </mat-paginator>
  </div>
</div>

